@model IEnumerable<ConsultaMVCWeb.Models.Contacto_Cliente>

@{
    ViewBag.Title = "CONTACTO CLIENTES";
}

<h3>LISTA CONTACTO CLIENTES</h3>
<br />
@*<p>
    @Html.ActionLink("Crear Nuevo Contacto", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Contacto.Tipo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clientes.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_Contacto.Tipo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID, IdCliente= item.ID_Cliente }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
