@model IEnumerable<ConsultaMVCWeb.Models.Clientes>

@{
    ViewBag.Title = "LISTA DE CLIENTES";
}

<h3>LISTA DE CLIENTES</h3>
<br />
@using (Html.BeginForm("Index", "Clientes", FormMethod.Post))
{
    <div class="panel panel-default pull-right">
        <div class="panel-body panel-heading">
            <div class="form-inline">
                @Html.TextBox("buscar","", new { @class = "form-control" })
                <button type="submit" class="btn btn-default">Buscar</button>
            </div>
        </div>
    </div>
    <br /><br />
 }
<p>
    @Html.ActionLink("Crear Nuevo Cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Ciudad)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Email)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Ocupacion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Ocupacion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
